<section id="main-slider" class="no-margin">
    <div class="carousel slide">
        <ol class="carousel-indicators">
            <li data-target="#main-slider" data-slide-to="0" class="active"></li>
            <li data-target="#main-slider" data-slide-to="1"></li>
            <li data-target="#main-slider" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">

            <div class="item active" style="background-image: url(assets/slider/wed5.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">...And i knew exactly what old walts disney cinderella felt when she found her prince</h1>
                                <h2 class="animation animated-item-2">Weddings are time when two families share their heart's for a unbreakable knot.. </h2>
                                <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                            </div>
                        </div>

                        <!-- <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="assets/slider/img1.png" class="img-responsive">
                            </div>
                        </div> -->

                    </div>
                </div>
            </div><!--/.item-->

            <div class="item" style="background-image: url(assets/slider/m3.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">Plan your dream wedding with are best desigers who endeavour to make this a prfect day of your life..</h1>
                                <h2 class="animation animated-item-2">its once in life time affair cherish this day with us...</h2>
                                <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                            </div>
                        </div>

                        <!-- <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <div class="slider-img">
                                <img src="assets/slider/img2.png" class="img-responsive">
                            </div>
                        </div> -->

                    </div>
                </div>
            </div><!--/.item-->

            <div class="item" style="background-image: url(assets/slider/m1.jpg)">
                <div class="container">
                    <div class="row slide-margin">
                        <div class="col-sm-6">
                            <div class="carousel-content">
                                <h1 class="animation animated-item-1">From small intimate gatherings to large and lavish affairs and in the UK and abroad, every Sarah Haywood wedding is unique. </h1>
                                <h2 class="animation animated-item-2">Passionate about what we do, we strive to ensure all our celebrations are exceptional. We work with the best in the business and together we set trends rather than follow them.
..</h2>
                                <a class="btn-slide animation animated-item-3" href="#">Read More</a>
                            </div>
                        </div>
                        <div class="col-sm-6 hidden-xs animation animated-item-4">
                            <!-- <div class="slider-img">
                                <img src="assets/slider/img3.png" class="img-responsive">
                            </div> -->
                        </div>
                    </div>
                </div>
            </div><!--/.item-->
        </div><!--/.carousel-inner-->
    </div><!--/.carousel-->
    <a class="prev hidden-xs" href="#main-slider" data-slide="prev">
        <i class="fa fa-chevron-left"></i>
    </a>
    <a class="next hidden-xs" href="#main-slider" data-slide="next">
        <i class="fa fa-chevron-right"></i>
    </a>
</section><!--/#main-slider-->

<section id="feature" >
    <div class="container">
       <div class="center wow fadeInDown">
            <h2>Features</h2>
            <p class="lead">We provide the best in class and customizable services and extraordinary feature list helps you organize the best in class.</p>
        </div>

        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-bullhorn"></i>
                        <h2>Food and Drinks</h2>
                        <h3>Exclusive food menu with different types of flavour.</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-magic"></i>
                        <h2>Decoration</h2>
                        <h3>Customizable themes and design selection</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-cloud-download"></i>
                        <h2>Cloud Based support</h2>
                        <h3>24x7 services available.</h3>
                    </div>
                </div><!--/.col-md-4-->
            
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-leaf"></i>
                        <h2>Ceremony</h2>
                        <h3>Choose the rituals to make it worth.</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-cogs"></i>
                        <h2>Inventory</h2>
                        <h3>Manage your store smartly.</h3>
                    </div>
                </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-bell-o"></i>
                        <h2>Event Reminders</h2>
                        <h3>Never miss a second ..</h3>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="feature-wrap">
                        <i class="fa fa-plus-square-o"></i>
                        <h2>More..</h2>
                        <h3>and more feature list to extend a helping hand ..</h3>
                    </div>
                </div><!--/.col-md-4-->
            </div><!--/.services-->
        </div><!--/.row-->    
    </div><!--/.container-->
</section><!--/#feature-->

<section id="recent-works">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Recent Works</h2>
            <p class="lead">These are some recent dream wedding which came true ..now its your turn.</p>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="assets/portfolio/recent/rm1.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Cakes </a> </h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="assets/portfolio/full/im1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div> 
                    </div>
                </div>
            </div>   

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="assets/portfolio/recent/im2.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Business theme</a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="assets/portfolio/full/im2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div> 
                    </div>
                </div>
            </div> 

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="assets/portfolio/recent/im3.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Business theme </a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="assets/portfolio/full/im3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div> 
                    </div>
                </div>
            </div>   

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="assets/portfolio/recent/im4.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Business theme </a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="assets/portfolio/full/im4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div> 
                    </div>
                </div>
            </div>   
            
            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="assets/portfolio/recent/im5.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Business theme</a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="assets/portfolio/full/im5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div> 
                    </div>
                </div>
            </div>   

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="assets/portfolio/recent/im6.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Business theme </a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="assets/portfolio/full/im6.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div> 
                    </div>
                </div>
            </div> 

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="assets/portfolio/recent/im7.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Business theme </a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="assets/portfolio/full/im7.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div> 
                    </div>
                </div>
            </div>   

            <div class="col-xs-12 col-sm-4 col-md-3">
                <div class="recent-work-wrap">
                    <img class="img-responsive" src="assets/portfolio/recent/im8.jpg" alt="">
                    <div class="overlay">
                        <div class="recent-work-inner">
                            <h3><a href="#">Business theme </a></h3>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                            <a class="preview" href="assets/portfolio/full/im8.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                        </div> 
                    </div>
                </div>
            </div>   
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#recent-works-->

<section id="services" class="service-item">
   <div class="container">
        <div class="center wow fadeInDown">
            <h2>Our Service</h2>
            <p class="lead">Our services are not just the best but the exclusive of its kind. This makes the whlole managment go in a flow smoothly</p>
        </div>

        <div class="row">

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="assets/services/dm.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Digital Marketing</h3>
                        <p>This gives us to be more effective in the digital world and...</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="assets/services/cs1.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Cloud services</h3>
                        <p>24x7 services for the customer support and facilities.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="assets/services/crm1.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">CRM Managment</h3>
                        <p>Customer is our first priority, we strive for best in deal with them.</p>
                    </div>
                </div>
            </div>  

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="assets/services/f1.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Payment flexibility</h3>
                        <p>We provide online and offline payment comfortable with the customer.</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="assets/services/mm1.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Managment Suite</h3>
                        <p>Complete managment of the function or the events which will leve a mark</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="media services-wrap wow fadeInDown">
                    <div class="pull-left">
                        <img class="img-responsive" src="assets/services/rem1.png">
                    </div>
                    <div class="media-body">
                        <h3 class="media-heading">Reminders</h3>
                        <p>Event reminders to keep you updated of the events and never miss the dear ones.</p>
                    </div>
                </div>
            </div>                                                
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#services-->

<section id="middle">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 wow fadeInDown">
                <div class="skill">
                    <h2>Our Skills</h2>
                    <p>These are the customer ratings who we have server us on ther very special day of life. The ratings are fully dertified and original.</p>

                    <div class="progress-wrap">
                        <h3>Decoration</h3>
                        <div class="progress">
                          <div class="progress-bar  color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%">
                            <span class="bar-width">85%</span>
                          </div>

                        </div>
                    </div>

                    <div class="progress-wrap">
                        <h3>Food</h3>
                        <div class="progress">
                          <div class="progress-bar color2" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 95%">
                           <span class="bar-width">95%</span>
                          </div>
                        </div>
                    </div>

                    <div class="progress-wrap">
                        <h3>Services</h3>
                        <div class="progress">
                          <div class="progress-bar color3" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            <span class="bar-width">80%</span>
                          </div>
                        </div>
                    </div>

                    <div class="progress-wrap">
                        <h3>Managment</h3>
                        <div class="progress">
                          <div class="progress-bar color4" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 90%">
                            <span class="bar-width">90%</span>
                          </div>
                        </div>
                    </div>
                </div>

            </div><!--/.col-sm-6-->

            <div class="col-sm-6 wow fadeInDown">
                <div class="accordion">
                    <h2>Why People like us?</h2>
                    <div class="panel-group" id="accordion1">
                      <div class="panel panel-default">
                        <div class="panel-heading active">
                          <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseOne1">
                             Shaddi mubarak is the best managment service we ever experienced.
                              <i class="fa fa-angle-right pull-right"></i>
                            </a>
                          </h3>
                        </div>

                        <div id="collapseOne1" class="panel-collapse collapse in">
                          <div class="panel-body">
                              <div class="media accordion-inner">
                                    <div class="pull-left">
                                        <img class="img-responsive" src="assets/accordion1.png">
                                    </div>
                                    <div class="media-body">
                                         <h4>Karan and priti</h4>
                                         <p>ourr wedding was made special by shaddi mubarak . Its the best wedding experience ever</p>
                                    </div>
                              </div>
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseTwo1">
                              Shaddi mubarak is the best managment service we ever experienced.
                              <i class="fa fa-angle-right pull-right"></i>
                            </a>
                          </h3>
                        </div>
                        <div id="collapseTwo1" class="panel-collapse collapse">
                          <div class="panel-body">
                            Our wedding was made special by shaddi mubarak . Its the best wedding experience ever
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseThree1">
                              Shaddi mubarak is the best managment service we ever experienced.
                              <i class="fa fa-angle-right pull-right"></i>
                            </a>
                          </h3>
                        </div>
                        <div id="collapseThree1" class="panel-collapse collapse">
                          <div class="panel-body">
                            Or wedding was made special by shaddi mubarak . Its the best wedding experience ever
                          </div>
                        </div>
                      </div>

                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <h3 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapseFour1">
                              Shaddi mubarak is the best managment service we ever experienced.
                              <i class="fa fa-angle-right pull-right"></i>
                            </a>
                          </h3>
                        </div>
                        <div id="collapseFour1" class="panel-collapse collapse">
                          <div class="panel-body">
                            Our wedding was made special by shaddi mubarak . Its the best wedding experience ever
                          </div>
                        </div>
                      </div>
                    </div><!--/#accordion1-->
                </div>
            </div>

        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#middle-->

<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 wow fadeInDown">
               <div class="tab-wrap"> 
                    <div class="media">
                        <div class="parrent pull-left">
                            <ul class="nav nav-tabs nav-stacked">
                                <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01">Responsive Web Design</a></li>
                                <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02">Premium Plugin Included</a></li>
                                <li class=""><a href="#tab3" data-toggle="tab" class="tehnical">Predefine Layout</a></li>
                                <li class=""><a href="#tab4" data-toggle="tab" class="tehnical">Our Philosopy</a></li>
                                <li class=""><a href="#tab5" data-toggle="tab" class="tehnical">What We Do?</a></li>
                            </ul>
                        </div>

                        <div class="parrent media-body">
                            <div class="tab-content">
                                <div class="tab-pane fade" id="tab1">
                                    <div class="media">
                                       <div class="pull-left">
                                            <img class="img-responsive" src="assets/tab2.png">
                                        </div>
                                        <div class="media-body">
                                             <h2>Shruti and Varun</h2>
                                             <p>Services and the managment support right from booking the hall and the reception was one touch jus sitting from home. We were so busy in our preparation but shaddi mubarak made it as easy as it was never before </p>
                                        </div>
                                    </div>
                                </div>

                                 <div class="tab-pane fade active in" id="tab2">
                                    <div class="media">
                                       <div class="pull-left">
                                            <img class="img-responsive" src="assets/tab1.png">
                                        </div>
                                        <div class="media-body">
                                             <h2>Shruti and Varun</h2>
                                             <p>Services and the managment support right from booking the hall and the reception was one touch jus sitting from home. We were so busy in our preparation but shaddi mubarak made it as easy as it was never before </p>
                                        </div>
                                    </div>
                                 </div>

                                 <div class="tab-pane fade" id="tab3">
                                   <p>Services and the managment support right from booking the hall and the reception was one touch jus sitting from home. We were so busy in our preparation but shaddi mubarak made it as easy as it was never before </p>
                                 </div>
                                 
                                 <div class="tab-pane fade" id="tab4">
                                    <p>Services and the managment support right from booking the hall and the reception was one touch jus sitting from home. We were so busy in our preparation but shaddi mubarak made it as easy as it was never before </p>
                                 </div>

                                 <div class="tab-pane fade" id="tab5">
                                    <p>Services and the managment support right from booking the hall and the reception was one touch jus sitting from home. We were so busy in our preparation but shaddi mubarak made it as easy as it was never before </p>
                                 </div>
                            </div> <!--/.tab-content-->  
                        </div> <!--/.media-body--> 
                    </div> <!--/.media-->     
                </div><!--/.tab-wrap-->               
            </div><!--/.col-sm-6-->

            <div class="col-xs-12 col-sm-4 wow fadeInDown">
                <div class="testimonial">
                    <h2>Testimonials</h2>
                     <div class="media testimonial-inner">
                        <div class="pull-left">
                            <img class="img-responsive img-circle" src="assets/testimonials1.png">
                        </div>
                        <div class="media-body">
                            <p>Services and the managment support right from booking the hall and the reception was one touch jus sitting from home. We were so busy in our preparation but shaddi mubarak made it as easy as it was never before </p>
                            <span><strong>--karan and priri/</strong> happily married</span>
                        </div>
                     </div>

                     <div class="media testimonial-inner">
                        <div class="pull-left">
                            <img class="img-responsive img-circle" src="assets/testimonials1.png">
                        </div>
                        <div class="media-body">
                            <p>Services and the managment support right from booking the hall and the reception was one touch jus sitting from home. We were so busy in our preparation but shaddi mubarak made it as easy as it was never before </p>
                            <span><strong>-karan and priti/</strong> happily married</span>
                        </div>
                     </div>

                </div>
            </div>

        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#content-->

<section id="partner">
    <div class="container">
        <div class="center wow fadeInDown">
            <h2>Our Partners</h2>
            <p class="lead">These are our managing patners.</p>
        </div>    

        <div class="partners">
            <ul>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms" src="assets/partners/partner1.png"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms" src="assets/partners/partner2.png"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="900ms" src="assets/partners/partner3.png"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1200ms" src="assets/partners/partner4.png"></a></li>
                <li> <a href="#"><img class="img-responsive wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="1500ms" src="assets/partners/partner5.png"></a></li>
            </ul>
        </div>        
    </div><!--/.container-->
</section><!--/#partner-->