<section style="background-image: url(/assets/thank_you.jpg)";>
    <div class="container">
       <div class="center wow fadeInDown">
       		<h3 style="color:#fff;"><%= notice %></h3>
            <h1>Thank You</h1>
            <p class="lead" style="color:#fff;">Visit agian</p>
       </div>
    </div>
</section>