<section style="background-image: url(/assets/thank_you.jpg)";>
<div id="alert"><%= render 'layouts/alert' %></div>
    <div class="container">
       <div class="center wow fadeInDown">
            <h1>Thank You</h1>
            <p class="lead" style="color:#fff;">Visit agian</p>
       </div>
    </div>
</section>