<section id="feature" class="transparent-bg">
    <div class="container">
    <div id="alert"><%= render 'layouts/alert' %></div>
       <div class="center wow fadeInDown">
            <h2>Thank You</h2>
            <p class="lead">Visit agian</p>
       </div>
    </div>
</section>