<div class="container">
    <div class="row">
        <h2><i class="fa fa-flag"></i>
            <%= link_to 'Events' ,events_path%>
            <small>Bookings</small>
        </h2>
        <ol class="breadcrumb">
            <li><i class="fa fa-dashboard"></i>
            <%= link_to t('dashboard'), dashboard_index_path %>
            </li>
            <li class="active">Events</li>
        </ol>
    </div>
    <div id="alert"><%= render 'layouts/alert' %></div>
    <div class="row">
    <div class="col-md-6">
        <div id="calendar"></div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <div id="form"></div>
    </div>
</div>
</div>
                    